
<div class='nav'>
  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= current_user.username %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</div>

<p class='month'><%= @today.strftime("< %m / %Y >") %></p>

<div class='calendar'>
  <table>
    <tr>
      <% t('date.abbr_day_names').each do |day_name| %>
        <td class='item'>
        <%= day_name %>
        </td>
      <% end %>
    </tr>
    <% @calendar_data.each do |date| %>
      <% if date.wday == 0 %>
        <tr>
      <% end %>
      <td class='item'>
        <p><%= date.day %></p>
        <div class='plan-list'>予定</div>
      </td>
      <% if date.wday == 6 %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>



